body{
  font-family: Arial;
  margin:0;
  background:#0f172a;
  color:white;
  text-align:center;
}

header{
  background:#1e293b;
  padding:40px;
}

section{
  padding:40px;
}

input,textarea{
  width:80%;
  padding:10px;
  margin:10px;
  border-radius:8px;
  border:none;
}

button{
  padding:10px 25px;
  background:#22c55e;
  border:none;
  border-radius:8px;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#16a34a;
}
